:root {
	--dark-color: #4834d4;
	--secundario: #686de0;
}
body {
	font-family: 'Lato', sans-serif;
}
img {
	width: 100%;
}
h1 {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	color: var(--dark-color);
	font-family: 'Montserrat', sans-serif;
}
p {
	font-size: 20px;
}
/*nav bar*/
.navbar {
	background: var(--dark-color);
	padding: 1rem;
}
.navbar-brand {
	font-size: 1.25rem;
	font-weight: bold;
}
.navbar a,
.navbar-toggler {
	color: var(--white);
	padding: 0.8rem;
	margin-left: 5px;
	text-transform: uppercase;
}
.navbar-nav a:hover {
	color: var(--verde);
}
.navbar-nav a.active,
.navbar-toggler {
	background: var(--secundario);
	color: var(--white);
	border-radius:0.25rem;
}
/*header*/
.colored-section {
	background: var(--secundario);
	color: var(--white);
	padding: 6rem;	
}
.colored-section h1 {
	color: var(--white);
}
.hero-image {
	margin-bottom: 3rem;
	/*border-radius: 50%;*/
	width: 200px;
}
header {
	text-align: center;
}
.star {
	border-width: 3px;
	width: 30%;
	text-align: center;
	margin-bottom: 3.5rem;
}
.star.light {
	border-color: var(--white);
}
.star.darks {
	border-color: var(--dark-color);
}
.star::after{
	position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f1b0';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}
.star.light::after{
	background: var(--secundario);
}
.star.darks::after{
	background: var(--white);
	color: var(--dark-color);
}
header h2 {
    font-family: Lato;
}
/*portfolio*/
section {
	padding: 7rem 0;
}
.contenido>div {
	margin-bottom: 20px;
}
.proyecto {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.hovering {
	background: rgba(89,98,117, 0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	display: none;
}
.proyecto:hover .hovering {
	display: flex;
}
/*Modales*/
.modal-content {
	padding: 3rem 5rem;
}
.modal-dialog {
	max-width: 95%;
}
.modal-header {
	flex-direction: column;
}
.modal-title {
	width: 100%;
}
.close {
	color: var(--secundario);
}
.btn-secondary {
	background-color: var(--secundario);
	font-size: 24px;
    padding: 20px 40px;
}
.modal-body img {
	margin-bottom: 20px;
}
.modal-footer {
	justify-content:center;
}
.modal-footer, 
.modal-header {
	border: none;
}
/*About*/
.get-in {
	border: 1px solid var(--white);
	color: var(--white);
	padding: 10px 20px;
	background: transparent;
	border-radius: 7px;
	align-self: center;
	font-size: 24px;
	display: inline-block;
}
.get-in:hover {
	color: var(--secundario);
	background: var(--white);
}